@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

header {
  position: relative;
}

header .logo {
  font-weight: 600;
  font-size: 20px;
}

header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
}

header ul.nav li:hover {
  opacity: 0.5;
}

header .img-cart {
  float: right;
  cursor: pointer;
  transition: color, transform 500ms ease;
}

header .img-cart:hover,
header .img-cart:active {
  color: #5fa36a;
  transform: scale(1.5);
}

header .presentation {
  margin: 50px 0;
  background: url('./../public//fun.jpeg') no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
}

header .shop-cart {
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  background: #fafafa;
  -weblit-box-shadow: 4px 5px 15px -7px #606060;
  box-shadow: 4px 5px 15px -7px #606060;
  z-index: 1000;

  padding: 20px;
  padding-bottom: 0;
}

header .shop-cart .items {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

header .shop-cart .items img {
  width: 70px;
  float: left;
  margin-right: 20px;
}

header .shop-cart .items h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

header .shop-cart .items p {
  color: #797979;
  font-weight: 600;
}

header .shop-cart .items .delete-icon {
  color: #ca5252;
  position: relative;
  float: right;
  top: -25px;
  cursor: pointer;
  transition: color, transform 500ms ease;
}

header .shop-cart .items .delete-icon:hover {
  color: #d83030;
  transform: scale(1.5);
}

header .shop-cart .summa {
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}


header .presentation::after {
  content: 'The best and quality products for the home';
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

header .presentation::before {
  content: 'at low prices';
  position: absolute;
  top: 300px;
  left: 50px;
  width: 300px;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
}


main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item {
  width: 30%;
  margin-bottom: 50px;
  background-color: #f5f5f5;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}

main .item img,
.modalitem div img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
  cursor: pointer;
}

main .item img:hover,
.modalitem div img:hover {
  transform: scale(1.05);
}

main h2,
main p,
main b,
.modalitem div h2,
.modalitem div p,
.modalitem div b {
  margin: 10px 20px;
  color: #333;
}

main b,
.modalitem div b {
  color: #5fa36a;
}

main .add-to-card,
.modalitem div .add-to-card {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: #222;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
}

main .add-to-card:hover,
.modalitem div .add-to-card:hover {
  transform: scale(1.5) translateY(-5px);
}



footer {
  text-align: center;
  margin-top: 100px;
}

.modalitem {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  overflow: auto;
}

.modalitem div {
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: #fff;
  border-radius: 9px;
}